# Libraries
*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe

# Metadata
#*.aliases
*.lvlps
.cache/

# Data
data/

# Builds
#builds/

# Snippets
snippets/all