# Libraries
#*.lvlibp
*.llb

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
#*.exe

# Metadata
#*.aliases
*.lvlps
.cache/

# Backups
*.bak

# Data
#data/

# Builds
#builds/

# Snippets
snippets/all

# hardware init files
dummy.ini
spectral_calibration.ini
glaz.ini

# MWEs
MWEs/